
# Xcode Project
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.idea/

# Xcode Injection
IOSInjectionProject/
OSXInjectionProject/

## Build generated
build/
DerivedData/
*.hmap

# CocoaPods & Carthage
Pods/
Carthage/Build
# Ignore the lock file because we are developing a library.
Test/Podfile.lock

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CSV
*.orig
.svn

# Other
*~
.DS_Store
*.swp
*.save
._*
*.bak
